<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <a href="https://google.com" target="_blank">go to google</a><br>
    <a href="https://Facebook.com" target="_blank">go to facebook</a><br>
    <a href="https://twiter.com" target="_blank">go to twitter</a><br>
    <a href="https://linkedin.com" target="_blank">go to linkedin</a><br>
    <a href="/templates/index.html" target="_blank"><strong>Index</strong></a><br>
    <a href="/templates/tutorial.html" target="_blank"><strong>Tutorial</strong></a><br>
    <img src="robin.jpg" alt="Robin at time of corona pandemic"><br>
    <img src="https://source.unsplash.com/user/erondu/1600x900" alt="random" width="1400" hight="500">
</body>


</html>