<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IDs and Classes in HTML</title>
</head>

<body>
    <h3>IDs and Clases in HTML</h3>
    <div id="mainBox" class="redBg blackBorder">
        this is mainbox
    </div>
    <span id="mainBox1" class="redBg"></span>
    <!-- Emmet -->
    <!-- . is for class and # is for ID -->
    <span class="class1 redBg"></span>
    <!-- # is for ID -->
    <span id="mainid"></span>
    <div class="regBg blackborder anotherclass"></div>
    <!-- Emmet takes div tag as default -->
    <div class="blackbackground"></div>

    <!-- creating multiple elements with Emmet -->
    <!-- span.myclass.myclass2.myclass3 * 3 -->
    <span class="myclass myclass2 myclass3">First</span>
    <span class="myclass myclass2 myclass3">Secound</span>
    <span class="myclass myclass2 myclass3">third</span>
    <p>this is another &nbsp; &nbsp; nbsp is used for spacing in html</p>
    <p>reserve chars are written like this &lt;p&gt;</p>
    <p>copywrite is written like this &copy;</p>
    <p>pound is written like this &pound;</p>
    <!-- google mai jakar koi bhi dek lena.. duniya bhar ke codes hai. ranta nahi hai ye  -->
    <!-- html enteties reference -->
    <p>one by four is written like this &frac14;</p>
    <!-- apna naam lik lo using html enteties.. google baba mai chart se le lo codes -->
    <strong>&Rcaron;&Odblac;&szlig;&iacute;&Ncaron;</strong>


</body>

</html>