<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSS Example</title>
</head>
<style>
    p {
        color: crimson;
        background-color: darkcyan !important;
    }
</style>

<link rel="stylesheet" href="tut13.css">

<body>
    <h3>This is CSS Tutorial</h3>
    <p>This is CSS Examples line.. just for test</p>
    <!-- <p style="color: sienna;background-color: blue;"> This Tutorial will help you need to know CSS</p> -->
</body>

</html>