<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML Sementics tags</title>
</head>

<body>
    <h2>Sementic HTML tags</h2>
</body>
<details>
    <summary>This is summary of summary </summary>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, quisquam? Hic quibusdam nisi officia ex incidunt autem harum ut tempora vitae expedita quo dolor repellendus quidem, deserunt saepe. Blanditiis, aut
    beatae. Perferendis ipsam repudiandae sunt cumque quibusdam, consectetur similique quod!
</details>
<a href="/templates/tutorial.html">Templates.html</a>

</html>