<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
    <meta name="Disription" content="This is HTML example website, here you can learn basic of HTML">
    <meta name="keywords" content="HTML, html, html tutorials, about HTML">
    <meta name="robots" content="INDEX, Follow">
    <title>Test Document</title>
    <!-- how you include css templates-->
    <link ref="stylesheet" href='index.css'>
    <!-- how you include css templates-->
    <script src='index.js'></script>

</head>

<body>
    <h1>Robin Bhandari</h1>
    <hr>
    <h2>Resume</h2>
    <hr>
    <p>Test1</p>
    <p>test2</p>
    <!-- this is a new line -->
    <p>This is a Paragrah</p>
    <!-- loren dummy text 40 words -->
    <details>
        <summary>This is Summary</summary> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, perspiciatis <strong>This is Strong Example, <br> for bold words</strong> nam ullam similique ad accusantium sunt ab non fugit earum maxime cupiditate assumenda
        suscipit, facilis quisquam
        <em>This is Empesize example, to italic the font</em> aspernatur, ea minima? Asperiores provident, perspiciatis dolorem odit esse beatae reprehenderit illum.</details>
    <hr>
    <ul type="circle">
        <li>This is my first unordered list</li>
        <li>This is my Second unordered list</li>
        <li>This is my Third unordered list</li>
    </ul>
    <ol type="i">
        <li>This is my first ordered list</li>
        <li>This is my Second ordered list</li>
        <li>This is my Third ordered list</li>
    </ol>
    <script src="" async defer></script>
    <hr>
    <!-- HTML tables -->
    <h3>HTML TABLE Example</h3>
    <hr>
    <table>
        <thead>
            <tr>
                <td>Employee Name</td>
                <td>Employee ID</td>
                <td>Employee Skill</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>Robin</th>
                <th>18097</th>
                <th>Programmer</th>
            </tr>
            <tr>
                <th>Rohit</th>
                <th>1897</th>
                <th>Andriod</th>
            </tr>
        </tbody>
    </table>
    <details>
        <summary>Summary example</summary>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis odio deserunt asperiores ipsa aliquam dolores inventore, esse ad et alias reiciendis dignissimos, vitae nesciunt cum consequatur doloribus laboriosam voluptatem
        placeat ducimus aliquid quibusdam quos accusamus in voluptatum. Deserunt, officia pariatur.</details>
</body>

</html>